.to-mark {
    overflow: hidden;
    width: 20px;
    margin: 0 auto;
  }
  .to-mark:not(:checked) > input {
    display: none;
  }
  .to-mark:not(:checked) > label {
    float: right;
    width: 20px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .to-mark:not(:checked) > label:before {
    content: "★";
  }
  .to-mark > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .to-mark:not(:checked) > label:hover,
  .to-mark:not(:checked) > label:hover ~ label,
  .mobile .to-mark:not(:checked) > label:focus,
  .mobile .to-mark:not(:checked) > label:focus ~ label {
    color: gold;
  }
  .to-mark > input:checked + label:hover,
  .to-mark > input:checked + label:hover ~ label,
  .to-mark > input:checked ~ label:hover,
  .to-mark > input:checked ~ label:hover ~ label,
  .mobile .to-mark > input:checked + label:hover,
  .mobile .to-mark > input:checked + label:hover ~ label,
  .mobile .to-mark > input:checked ~ label:hover,
  .mobile .to-mark > input:checked ~ label:hover ~ label,
  .to-mark > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .orders-delete{
      width: 20px;
      height: 20px;
      cursor: pointer;
  }
  .order-zigzag{
      width: 21px;
  }
  .orders-name{
    font-size: 10px;
    text-align: start;
  }
  .orders-date{
    font-size: 11px;
    text-align: start;
  }
  .sum{
    color: #4FC1EE;
	}
	.grid-container{
		max-width: 100%;
		display: flex;
		flex-wrap: nowrap;
	}