#res-header {
  display: none;
}
.res-roof_search {
  width: 140px;
  height: 100%;
  padding: 10px 15px;
  background-color: transparent;
}
.res-nav_logo {
  height: 50px;
  width: 100%;
}
.res-n_icon {
  cursor: pointer;
}
.res-n_icon img:hover {
  box-shadow: inset 0 0 0 23px #53ea93;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.res-n_icon {
  width: 30px;
  margin-right: 28px;
}
.res-n_icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.res-nav {
  font-family: Gotham;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.35px;
}
.res-nav:hover {
  border-bottom: 3px solid #db3838;
}
#breadcrumbs {
  display: none;
}
@media all and (max-width: 700px) {
  .header {
    display: none;
  }
  .res-nav_logo {
    height: 50px;
    width: 100%;
  }
  #res-header {
    display: flex;
  }
  .slider {
    margin-top: 80px;
  }
  .slider__control {
    display: none;
  }
  .body_nav {
    display: none;
  }
  #breadcrumbs {
    display: block;
    font-size: 10px;
    padding: 10px;
  }
  .particles-header {
    display: none;
  }
}
@media all and (max-width: 400px) {
  .res-nav_logo {
    height: 40px;
    width: 100%;
  }
  .res-roof_search {
    width: 120px;
    padding: 10px 15px;
  }
  .slider {
    margin-top: 70px;
    height: 80vh;
  }
  #breadcrumbs {
    display: block;
    font-size: 8px;
    line-height: 13px;
    padding: 10px;
  }
}
@media all and (max-width: 300px) {
  .res-nav_logo {
    height: 30px;
    width: 100%;
  }
  .res-roof_search {
    width: 100px;
    padding: 10px 15px;
  }
  .slider {
    margin-top: 60px;
    height: 60vh;
  }
  #breadcrumbs {
    display: block;
    font-size: 6px;
    line-height: 10px;
    padding: 10px;
  }
}
