.particles-singup,
.bg_space {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
.boxL,
.box {
  width: 340px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.boxL h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}
.boxL input[type="email"],
.boxL input[type="password"],
.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 260px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.boxL input[type="email"],
.boxL input[type="password"] {
  color: #4b4b4b;
}
.boxL input[type="email"]:focus,
.boxL input[type="password"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
  width: 250px;
  border-color: #2ecc71;
}
.boxL input[type="submit"],
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.boxL input[type="submit"] {
  color: #000000;
}
.boxL input[type="submit"]:hover,
.box input[type="submit"]:hover {
  background: #2ecc71;
}
.auth-loading {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.loading-text {
  color: tomato;
  padding: 10px;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 1px;
}
.loginFormBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/loginBg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1000;
}

@media (max-width: 2250px) {
  .box,
  .boxL {
    width: 325px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 245px;
  }
}

@media (max-width: 2000px) {
  .box,
  .boxL {
    width: 310px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 230px;
  }
}
@media (max-width: 1750px) {
  .box,
  .boxL {
    width: 295px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 215px;
  }
}

@media (max-width: 1500px) {
  .box,
  .boxL {
    width: 280px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 200px;
  }
}

@media (max-width: 1250px) {
  .box,
  .boxL {
    width: 265px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 185px;
  }
}

@media (max-width: 1000px) {
  .box,
  .boxL {
    width: 250px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 170px;
  }
}

@media (max-width: 750px) {
  .box,
  .boxL {
    width: 235px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 155px;
  }
}

@media (max-width: 500px) {
  .box,
  .boxL {
    width: 220px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 140px;
  }
}

@media (max-width: 400px) {
  .box,
  .boxL {
    width: 205px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 125px;
  }
}
