@keyframes dshow {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 1000em;
  }
}
@keyframes dshow {
  0% {
    opacity: 1;
    right: 0;
  }
  100% {
    opacity: 0;
    right: 1000em;
  }
}
.tipical {
  color: #444444;
  font-family: Gotham;
  font-weight: 500;
}
.tipicalL {
  color: #ffffff;
  font-family: Gotham;
  font-weight: 500;
}
.body {
  width: 100%;
  background-color: #ffffff;
}
.photos_cart {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.photos_cart img {
  width: 100%;
  height: 100%;
}

/* Description */
.photos_cart .descrip {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mobile .photos_cart .descrip {
  opacity: 1;
}
.photos_cart .descrip:hover {
  opacity: 1;
}
.descrip-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.descrip p {
  font-size: 18px;
  text-transform: uppercase;
}

/* Men */
.for-men {
  margin: 10vh 0;
  width: 100%;
  height: 100%;
}
.men-img,
.women-img {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.men-img .descrip,
.women-img .descrip {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  padding-top: 55px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mobile .men-img .descrip,
.mobile .women-img .descrip {
  opacity: 1;
}
.men-img .descrip:hover,
.women-img .descrip:hover {
  opacity: 1;
}
.men-img .descrip p,
.women-img .descrip p {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.men-img img,
.women-img img {
  height: 100%;
}

/* Body-Slider  */
.slider-women,
.slider-men {
  margin: 10vh 0;
  width: 100%;
  height: 100%;
}
.swipe,
.swipe-women {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swipe .s--active {
  pointer-events: auto;
  animation: show 1s 1;
  top: 0;
}
.swipe-women .m--active {
  pointer-events: auto;
  animation: show2 1s 1;
  top: 0;
}
.swipe-cart {
  width: 100%;
  height: 100%;
}
.swipe-cart .panel .panel-cart img {
  height: 100%;
}
.panel {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.panel-cost {
  width: 46%;
}
.panel .panel-cart {
  width: 46%;
}
.swipe-text {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-between;
}
.over-swipe-text {
  display: flex;
  width: 96%;
  height: 40%;
  justify-content: space-between;
}
.panel-cost-text {
  font-size: initial;
  padding: 5px 0;
  border-bottom: 1px solid #e6e6e6;
}
.cost-text-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cost-text {
  display: flex;
  justify-content: space-between;
}
.cost-text-cost span {
  font-size: 14px;
}
.cost-btn {
  width: 55%;
  font-size: 10px;
  text-align: center;
  margin-top: 18px;
  padding: 5px;
  background-color: #db3838;
  cursor: pointer;
}
.cost-btn:hover,
.mobile .cost-btn:focus {
  background-color: #05c005;
}
.rate-area > label:active {
  position: relative;
}

/* Slider-Over */
.over-conteiner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.con-own {
  width: 313px;
  height: 240px;
}
.over-header {
  width: 100%;
  color: #696969;
  font-family: Gotham;
  font-size: 13px;
  border-bottom: 1.5px solid #9c9c9c;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 7vh;
}

/* From Blog */
.blog-conteiner {
  margin: 5vh 0;
  padding: 5vh 0;
  border-top: 1px solid #e4e4e4;
}
.blog-cart {
  display: flex;
  position: relative;
}
.blog-cart .descrip {
  position: absolute;
  background-color: #db3838;
  bottom: 0;
  padding: 5px 7px;
}
.zero,
.feb {
  text-transform: uppercase;
}
.zero {
  font-size: 14px;
  line-height: 10px;
}
.feb {
  font-size: 7px;
  line-height: 8px;
}
.blog-text-header {
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 15px;
}
.blog-text p {
  color: #444444;
  font-family: "Gotham - Book";
  font-size: 11px;
  font-weight: 400;
}

/* Media */
@media screen and (max-width: 1100px) {
  .cost-text {
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  .men-img .descrip p,
  .women-img .descrip p {
    font-size: 20px;
  }
}
@media screen and (max-width: 825px) {
  .descrip p {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  .descrip p,
  .panel-cost-text {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .descrip p {
    font-size: 18px;
  }
  .panel-cost-text {
    font-size: initial;
  }
}
